@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-600);
  --color-primary-hover: var(--color-indigo-700);
  --color-surface: var(--color-slate-50);
  --color-surface-dark: var(--color-slate-900);
}

body {
  @apply bg-slate-50 text-slate-900;
}
